.wp-block-content-views-layouts {
    width: 1000px;
    .swap-buttons-wrapper {
        .cancel {
            margin-left: 10px;
        }
    }
    .wp-block-content-views-layouts-view {
        &.tiles {
            .post-title {
                height: auto !important;
            }
            .post-excerpt {
                max-height: unset !important;
            }
        }

        .details-popup {
            display: none;
        }

        &.single-line-scroll {
            .post-item {
                .scroll-header {
                    .post-meta {
                        margin-right: 42px;
                    }

                    .post-entities {
                        width: 50%;
                    }
                }
    
                .post-title {
                    width: 300px;
                }
            }
        }

        &.double-line-scroll {
            .post-item {
                .scroll-header {
                    .post-meta {
                        margin-right: 60px;
                    }
                }
    
                .post-title {
                    width: 453px;
                }
            }
        }
    }
    .post-selectorContainer {
        height: 400px;
        border: 1px solid black;
        padding: 15px;

        .post-selectorAdd {
            width: 50%;
            float: left;
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
            .searchbox {
                input#searchinput {
                    width: 95.5%;
                    margin-left: 10px;
                    padding: 3px;
                }
            }
        }
        
        .post-selectorRemove {
            width: 50%;
            float: right;
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .post-list {
            height: 400px;
        }

        article.post {
            border: 1px solid black;
            margin: 10px;
            padding: 15px;
            height: 50px;

            img {
                width: 50px;
                height: 50px;
                float: left;
            }

            .post-body {
                width: 80%;
                font-size: 12px;
                margin-left: 10px;
                display: inherit;
                span.post-title {
                    margin-left: 50px;
                    display: inherit;
                    max-height: 30px;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                    width: 250px;
                    white-space: nowrap;
                }
                .post-meta {
                    font-size: 10px;
                    margin-left: 10px;
                    
                    span.post-date {
                        width: 60%;
                        display: inline-block;
                    }

                    span.post-author {
                        float: right;
                        top: 15px;
                        left: 25px;
                        position: relative;
                    }
                    
                }
            }

            span.dashicons.dashicons-arrow-up-alt, .dashicons-arrow-down-alt {
                font-size: 15px;
                border: 1px solid;
                background: #007cba;
                color: white;
                padding: 1px;
                cursor: pointer;
            }
            
            button.button-action {
                float: right;
                position: relative;
                top: -50px;
                right: 20px;
                padding: 3px;
                background: forestgreen;
                color: white;
                border: 1px solid forestgreen;
                border-radius: 2px;
                cursor: pointer;

                .block-editor-block-icon {
                    width: 12px;
                    height: 12px;

                    .dashicons:before {
                        font-size: 15px;
                        width: 15px;
                        height: 15px;
                    }

                    .dashicons-minus {
                        background: red;
                        color: white;
                        border: 1px solid red;
                    }
                }
            }
        }
    }
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 1100px !important;
}